.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.footer__info {
    display: flex;
    gap: 0.625rem;
}

.info__copyright {
    color: var(--light-blue);
    font-size: 0.25rem;
    font-weight: 500;
}

.info__createdBy {
    font-size: 0.0625rem;
}

@media (min-width: 768px) {

    .footer {
        height: 6.25rem;
    }


    .info__copyright {
        font-size: 0.875rem;
    }

    .info__createdBy {
        font-size: 0.625rem;
    }
}