.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    display: flex;
    gap: 0.625rem;
}

.info__copyright {
    color: var(--light-blue);
    font-size: 0.25rem;
    font-weight: 500;
}

.info__createdBy {
    font-size: 0.0625rem;
}