.header {
    font-size: var(--font-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--dark-red);
    height: 70px;
    padding: 1.5rem;
}

.nav {
    display: flex;
    gap: 1.5rem;
}

.nav__link {
    color: var(--color-font);
    font-weight: 600;
}

.nav__link:hover {
    color: var(--dark-blue);
}

@media (min-width: 1024px) {
    .nav__link {
        font-size: 14px;
    }
}